
body{
    overflow:hidden;
    margin: 0;
}

.bgimg{
    background-image: url("background.png");
    min-height: 380px;
    height: 100vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 12px;
}

.top{
    display: flex;
    flex-direction: row;
}

header{
    margin: 10px;
    padding: 10px;
    text-shadow: 0 0 10px rgb(250, 12, 12);
    color: white;
    font-size: 4vw;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header i{
    padding: 0 6px;
}

.navbar{
    margin-top: 10px;
    overflow: hidden;
    padding: 0 12px;
    width: 74%;
}

 .navbar a{
    float: right;
    color: crimson;
    text-align: center;
    padding: 10px 12px;
    margin: 12px 6px;
    text-decoration: none;
    font-size: 15px;
    background-color: aliceblue;
    border-radius: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: box-shadow .3s ease-out;
 }

.navbar .icon{
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
      float: right;
      display: block;
    }

    .navbar{
        width: 60%;
    }

}  

  .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .responsive {
    margin-left: 20%;
    position: relative;
    width: 47% ;
  }

  .responsive a {
    display: block;
    color: crimson;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 15px;
    background-color: aliceblue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

.navbar a:hover,.responsive a:hover {
    background-color: rgb(235, 45, 45);
    color: aliceblue;
    box-shadow: 8px 8px  rgba(242, 239, 239, 0.948);
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 21vh;
    width: 100vw;
    padding:10px 0 10px;
    color: #fff;
}

.confooter{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

.confooter .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.confooter a {
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 3rem;
    color: #fff;
    padding: 0px 8px;
    text-decoration: none;
    transition: color .4s ease;

}

.confooter a:hover {
    text-shadow: 0 0 10px rgba(242, 239, 239, 0.948);
    color: rgb(255, 92, 60);
}

.confooter p{
    max-width: 500px;
    margin:0;
    line-height: 28px;
    font-size: 16px;
    color: #cacdd2;
}

.confooter .footerbottom p {
    float: left;
    font-size: 15px;
    text-decoration: none;
    margin-top: 0;
}

.confooter .footerbottom p a{
    color: rgb(255, 142, 81);
    font-size: 14px;
    margin: 4px;
    padding: 0;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color: rgb(255, 154, 31);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    transform: scale(0.98);
    opacity: 0.8 ;
}

.closebtn{
    width: auto;
    padding: 10px 18px;
    background-color: red;
}

.loginContent{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

